* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    scroll-snap-align: start;
    transition: background-color 0.3s ease;
}

#section1 {
   background-image: url('https://cdn.glitch.global/18595e04-8ce4-4760-a22d-544429cc1ce8/20240610_124923(1).jpg?v=1717990376403');
   background-repeat: no-repeat; /* Tomato */
}

#section2 {
   background-image: url('https://cdn.glitch.global/18595e04-8ce4-4760-a22d-544429cc1ce8/New%20Project(12)555.png?v=1717820408774');
    background-color: #3ea7d9; /* Steel Blue */
}

#section3 {
  background-image: url('https://cdn.glitch.global/18595e04-8ce4-4760-a22d-544429cc1ce8/New%20Project(11).png?v=1717819508041');
    background-color: #5994ba; /* Medium Sea Green */
}

#section4 {
  background-image: url('https://cdn.glitch.global/18595e04-8ce4-4760-a22d-544429cc1ce8/New%20Project(14).png?v=1717820738596');
    background-color: #c3808b; /* Orange */
}

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0px;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #FCFCFC;
	z-index: 2;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.95;
	color: #fff;
}

a:hover {
	opacity: 0.75;
}

header nav {
	display: flex;
	margin-right: -15px;
  margin-top: 30px;
}

header nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}
  