* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    scroll-snap-align: start;
    transition: background-color 0.3s ease;
}

#section1 {
   background-image: url('https://cdn.glitch.global/18595e04-8ce4-4760-a22d-544429cc1ce8/IMG_1893copy.png?v=1717638305033');
   background-repeat: no-repeat; /* Tomato */
}

#section2 {
    background-color: #4682b4; /* Steel Blue */
}

#section3 {
    background-color: #3cb371; /* Medium Sea Green */
}

#section4 {
    background-color: #ffa500; /* Orange */
}

